*{
    margin: 0;
    padding: 0;
}
#aviation{
    font-weight: 800;
}
#overview11{
    font-weight:700;
}
#responsive{
font-weight: 700;
}
#jonsus{
    font-weight: 700;
}
#looking1{
    font-weight: 700;
}
#benefits{
    font-weight: 700;
}
#expect{
    font-weight: 700;
}